**/.idea/
**/.vscode/
**/.venv/

*.log
*.pyc

**/.pytest_cache/
**/__pycache__/
.DS_Store
._.DS_Store
*.hex
*.elf
venv/
*.sqlite

*.vscode
**/node_modules

/node_modules
/.pnp
.pnp.js

/coverage

/build

.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
